body, input, select, textarea {
  color: #767e84;
  font-family: 'SourceHanSansJP', sans-serif;
  font-size: 11pt;
  font-weight: 300;
  line-height: 1.75em;
  margin-bottom: 60px;
}
body {
  padding-top: 50px;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
div {
  display: block;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.dropdown-item img {
  width: auto;
  height: 1.75em;
}

.flag-image {
  border-radius: 2px;
}

.flag-image-japan {
  border-radius: 2px;
  border-color: gainsboro;
  border-style: solid;
  border-width: thin;
}

.name {
  color: #4f5458;
  font-size: 20px;
  margin-right: 16px;
  padding: 0.5px 0;
}
.carousel-item {
  height: 30em;
  position: relative;  
  }

.carousel-image-1 {
  background-image: url("../images/covers/cover1.JPG");
  background-size: cover;
  background-position: center center; /* 画像中のどこを中心とするか */
  position: relative;
}

.carousel-image-2 {
  background-image: url("../images/covers/cover2.JPG");
  background-size: cover;
  background-position: center center;
}

.carousel-image-3 {
  background-image: url("../images/covers/cover3.JPG");
  background-size: cover;
  background-position: center center;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.photo-credit {
  top: auto;
  bottom: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.profile-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.contact h3 {
  letter-spacing: 0.2em;
}

.contact a {
  color: #767e84;
}

.contact {
  font-size: medium;
}

ul {
  list-style: none;
}
/* li:before {
  position: absolute;
  left : 2em;
} */

/* .mail li:before {
  font-family: "Font Awesome 5 Free";
  content: "\f0e0";
}

.address:before {
  font-family: FontAwesome;
  content: "\f015";
} */

.icon {
  padding: 5rem;
}

.icon .card {
  padding: 1rem;
  margin: 0.5rem;
  background: #f0f8ff;
  transition: 0.2s ease-in-out;
  border-radius: 0.5em;
  border: thin solid #999fa3;
}




.footer {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f8f9fa;
  color: #888;
}