html {
  background-color: rgb(248, 249, 250);
  position: relative;
  min-height: 100%;
}

body, input, select, textarea {
  color: #767e84;
  font-family: "SourceHanSansJP", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  font-size: 11pt;
  font-weight: 300;
  line-height: 1.75em;
}

body {
  padding-top: 50px;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 120px;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

a {
  color: rgb(0, 121, 226);
  text-decoration: none;
  transition: color .2s;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0.125em;
}

h2 {
  font-size: 1.7em;
  line-height: 2em;
}

h3 {
  font-size: 1.5em;
  line-height: 2em;
}

h4 {
  font-size: 1.25em;
  line-height: 2em;
}

h5 {
  font-size: 1.2em;
}

.title {
  height: 20em;
}

.dropdown-item img {
  width: auto;
  height: 1.75em;
}

.flag-image {
  border-radius: 2px;
}

.flag-image-japan {
  border-radius: 2px;
  border-color: gainsboro;
  border-style: solid;
  border-width: thin;
}

.name {
  color: #4f5458;
  font-size: 20px;
  margin-right: 16px;
  padding: 0.5px 0;
}

.name:hover {
  text-decoration: none;
  color: #4f5458;
}

.carousel-item {
  height: 30em;
  position: relative;  
}

.carousel-image-1 {
  background-image: url("../images/covers/cover1.JPG");
  background-size: cover;
  background-position: center center; /* 画像中のどこを中心とするか */
  position: relative;
}

.carousel-image-2 {
  background-image: url("../images/covers/cover2.JPG");
  background-size: cover;
  background-position: center center;
}

.carousel-image-3 {
  background-image: url("../images/covers/cover3.JPG");
  background-size: cover;
  background-position: center center;
}

.carousel-image-4 {
  background-image: url("../images/covers/cover4.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
}

.carousel-image-5 {
  background-image: url("../images/covers/cover5.jpg");
  background-size: cover;
  background-position: center center;
}

.carousel-image-6 {
  background-image: url("../images/covers/cover6.jpg");
  background-size: cover;
  background-position: center center;
}

.carousel-image-7 {
  background-image: url("../images/covers/cover7.jpg");
  background-size: cover;
  background-position: center center;
}

.carousel-image-8 {
  background-image: url("../images/covers/cover8.jpg");
  background-size: cover;
  background-position: center center;
}

.carousel-image-9 {
  background-image: url("../images/covers/cover9.jpg");
  background-size: cover;
  background-position: center center;
}

.carousel-image-10 {
  background-image: url("../images/covers/cover10.jpg");
  background-size: cover;
  background-position: center center;
}

.carousel-image-11 {
  background-image: url("../images/covers/cover11.jpg");
  background-size: cover;
  background-position: center center;
}

.carousel-image-12 {
  background-image: url("../images/covers/cover12.jpg");
  background-size: cover;
  background-position: center center;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.photo-credit {
  top: auto;
  bottom: 0px;
  color: #f8f9fa;
  font-size: 0.8em;
  font-family: Arial, Helvetica, sans-serif;
}

.insert-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.contact h3 {
  letter-spacing: 0.2em;
}

.contact a {
  color: #767e84;
}

.contact ol {
	margin: 0;
	padding: 0;
  list-style: none;
}

.contact ol li {
	padding-left: 2em;
	background: left top no-repeat;
  background-size: 1.3em auto;
}

.contact ol li:nth-child(1) {
  background-image: url(../images/icons/envelope-solid.svg);
}

.contact ol li:nth-child(2) {
  background-image: url(../images/icons/home-solid.svg);
}

.intro {
  color: #f8f9fa;
}

.btn-space {
  text-align: center;
}

.link-btn {
  text-align: center;
  border-radius: 0;
  padding: 25px 46px;
  font-family: proxima-nova;
  font-size: 11px;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: .16em;
  transition: 0.4s ease-in-out;
}

.links .card {
  padding: 1rem;
  margin: 0.5rem;
  background: white;
  transition: 0.4s ease-in-out;
  border-radius: 0.5em;
  border: thin solid #999fa3;
}

.links .card:hover {
  background: #f3fff6;
  text-decoration: none;
  border: thin solid #aae6a8;
}

.links a {
  color: #999fa3;
}

.links a:hover {
  text-decoration: none;
  color: #23651C;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px; /* same as body.margin-bottom */
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f8f9fa;
  color: #888;
}

.footer a {
  color: #888
}

.history p {
  margin: 0;
}

.datetime {
  padding-right: 1em;
}