html {
  background-color: #f8f9fa;
}
body, input, select, textarea {
  color: #767e84;
  font-family: 'SourceHanSansJP', sans-serif;
  font-size: 11pt;
  font-weight: 300;
  line-height: 1.75em;
  margin-bottom: 60px;
}
body {
  padding-top: 50px;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
div {
  display: block;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

a {
  color: #629DD1;
  text-decoration: none;
  transition: color .2s;
}

a:hover {
  text-decoration: none;
  color: #3cb371;
}

.dropdown-item img {
  width: auto;
  height: 1.75em;
}

.flag-image {
  border-radius: 2px;
}

.flag-image-japan {
  border-radius: 2px;
  border-color: gainsboro;
  border-style: solid;
  border-width: thin;
}

.name {
  color: #4f5458;
  font-size: 20px;
  margin-right: 16px;
  padding: 0.5px 0;
}
.carousel-item {
  height: 30em;
  position: relative;  
  }

.carousel-image-1 {
  background-image: url("../images/covers/cover1.JPG");
  background-size: cover;
  background-position: center center; /* 画像中のどこを中心とするか */
  position: relative;
}

.carousel-image-2 {
  background-image: url("../images/covers/cover2.JPG");
  background-size: cover;
  background-position: center center;
}

.carousel-image-3 {
  background-image: url("../images/covers/cover3.JPG");
  background-size: cover;
  background-position: center center;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.photo-credit {
  top: auto;
  bottom: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.profile-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.contact h3 {
  letter-spacing: 0.2em;
}

.contact a {
  color: #767e84;
}

.contact {
  font-size: medium;
}

.contact ol {
	margin: 0;
	padding: 0;
  list-style: none;
}

.contact ol li {
	padding-left: 2em;
	background: left top no-repeat;
  background-size: 20px auto;
}

.contact ol li:nth-child(1) {
  background-image: url(../images/icons/envelope-solid.svg);
}

.contact ol li:nth-child(2) {
  background-image: url(../images/icons/home-solid.svg);
}

.intro {
  color: #f8f9fa;
}

.btn-space {
  text-align: center;
}

.link-btn {
  text-align: center;
  border-radius: 0;
  padding: 25px 46px;
  font-family: proxima-nova;
  font-size: 11px;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: .16em;
  transition: 0.2s ease-in-out;
}

.links {
  background: white;
  color: #555f66;
  text-decoration: none;
}

.links .card {
  padding: 1rem;
  margin: 0.5rem;
  background: white;
  transition: 0.2s ease-in-out;
  border-radius: 0.5em;
  border: thin solid #999fa3;
}

.links .card:hover {
  background: #f6faff;
  text-decoration: none;
  border: thin solid #93bee5;
}

.links .card:active {
  background: #fcfdff;
  color: #7598b7;
  text-decoration: none;
  border: thin solid #7598b7;
}

.links a {
  color: #999fa3;
}

.links a:hover {
  color: #93bee5;
}

.footer {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f8f9fa;
  color: #888;
}
